<%- include("components/head"); %>


<%- include("home/index"); %>

<footer class="fixed-bottom" style="background: black">
    <nav class="navbar justify-content-around">
      <a href="#" class="navbar-brand">
        <i class="fas fa-home icon active"></i>
        <span class="navbar-text bold">Startseite</span>
      </a>
      <a href="#" class="navbar-brand">
        <i class="fas fa-shopping-basket icon"></i>
        <span class="navbar-text">Produkte</span>
      </a>
      <a href="#" class="navbar-brand">
        <i class="fas fa-cog icon"></i>
        <span class="navbar-text">Einstellungen</span>
      </a>
    </nav>
  </footer>
  <%- include("components/footer"); %>